*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}
button {
    border: none;
    outline: none;
}

body {
    font-family: "AktivGroteskCorp", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #000;
    background-color: var(--main-text-color);

    &.is-full-screen {
        padding-top: 0px;
    }
}
.dn {
    display: none !important;
}
// temp style
div,
h1,
p {
    color: var(--main-text-color);
}
li {
    color: #000;
}
.theme__list label {
    color: var(--main-text-color);
}
