.window__left-sidebar {
    flex-shrink: 0;
    width: 200px;

    background-color: var(--bg1-color);
    transition: all 300ms;

    display: flex;
    flex-direction: column;
    &.is-hidden {
        position: absolute !important;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0 !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        overflow: hidden;
        transition: all 300ms;
    }
}
.left-sidebar__header {
    height: var(--header-height);
    padding: 0 20px;
    flex-shrink: 0;

    display: flex;
    align-items: flex-end;
}
.left-sidebar__body {
    flex-grow: 1;
    background-color: var(--bg2-color);
    // padding: 10px;
    border-radius: 10px 0 0 10px;
    overflow-x: hidden;
}

// ================== tabs =====================================
.tabs-btn {
    &__list {
        display: flex;
        // height: 36px;
    }

    &__item {
        width: 60px;
        padding: 5px 0;

        display: flex;
        justify-content: center;
        align-items: flex-end;
        cursor: pointer;
        border-radius: 7px 7px 0 0;
        &:hover .tabs-icon {
            color: var(--hover-text-color);
        }
        &.active-tab {
            background-color: var(--bg2-color);
        }
    }
}
.tabs-icon {
    width: 20px;
    height: 20px;
    color: var(--main-text-color);
}
// tabs content ======================================
.tabs-folder-content {
    width: 100%;
    height: 100%;
    background-color: rgba(59, 83, 203, 0.5);
}
.tabs-search-content {
    width: 100%;
    height: 100%;
    background-color: rgba(238, 241, 22, 0.5);
}
