#split-1,
#split-2 {
    height: 100%;
    width: 100%;
    overflow: auto;
}
#split-1:focus,
#split-2:focus {
    outline: none;
    border: none;
}
#split-1 {
    padding-left: 30px;
    padding-right: 30px;
    // background-color: rgb(212, 188, 184);
    border-radius: 0 0 10px 10px;
}
#split-2 {
    padding-left: 30px;
    padding-right: 30px;
    // background-color: rgb(9, 235, 235);
    // border: 2px solid green;
}

.in-focus {
    // border: 2px solid red;
    // box-shadow: inset 0 0 0 2px var(--accent-color);
}
#split-container {
    &.split-row {
        display: flex;
        flex-direction: row;

        #split-1 {
            padding-right: 5px;
            border-radius: 0 0 0 10px;
            position: relative;
            &.with-left-sidebars {
                border-radius: 0 0 0 0;
            }
            &.in-focus::after {
                content: "";
                display: block;
                width: 3px;
                height: 75px;
                border-radius: 2px;
                background-color: var(--accent-color);
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        #split-2 {
            padding-left: 5px;
            padding-right: 30px;
            border-radius: 0 0 10px 0;
            position: relative;
            &.with-right-sidebars {
                border-radius: 0 0 0 0;
            }
            &.in-focus::after {
                content: "";
                display: block;
                width: 3px;
                height: 75px;
                border-radius: 2px;
                background-color: var(--accent-color);
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &.split-column {
        display: flex;
        flex-direction: column;

        #split-1 {
            padding-right: 30px;
            padding-left: 30px;
            border-radius: 0 0 0 0;
            position: relative;
            &.in-focus::after {
                content: "";
                display: block;
                width: 75px;
                height: 3px;
                border-radius: 2px;
                background-color: var(--accent-color);
                position: absolute;
                bottom: 1px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        #split-2 {
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 0 0 10px 10px;
            position: relative;
            &.with-left-sidebars {
                border-radius: 0 0 10px 0;
            }
            &.with-right-sidebars {
                border-radius: 0 0 0 10px;
            }
            &.with-two-sidebars {
                border-radius: 0 0 0 0;
            }
            &.in-focus::after {
                content: "";
                display: block;
                width: 75px;
                height: 3px;
                border-radius: 2px;
                background-color: var(--accent-color);
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.gutter {
    background-color: var(--bg1-color);
    // background-color: #fff;
    // background-repeat: no-repeat;
    // background-position: 50% 50%;
    // background-size: 25px 25px;
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 75px;
        height: 75px;
        background-color: transparent;
        // background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 25px 25px;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.gutter.gutter-horizontal {
    cursor: col-resize;

    &::after {
        background-repeat: repeat-y;
        background-image: url("@img/svgicons/grip-vertical.svg");
    }

    &:hover::after {
        background-image: url("@img/svgicons/grip-vertical-accent.svg");
    }
}
.gutter.gutter-vertical {
    cursor: row-resize;
    &::after {
        background-repeat: repeat-x;
        background-image: url("@img/svgicons/grip-gorizontal.svg");
    }
    &:hover::after {
        background-image: url("@img/svgicons/grip-gorizontal-accent.svg");
    }
}

// ===============================================================
.window-split {
    position: relative;
    z-index: 100;

    .window-split-text {
        text-transform: capitalize;
    }
}

.split-submenu {
    position: absolute;
    top: calc(100% + 4px);
    padding: 3px;
    left: -30px;
    width: 120px;
    background-color: var(--bg2-color);

    display: flex;
    flex-direction: column;
    &.split-submenu-hidden {
        display: none;
    }
    &__item {
        background-color: var(--bg2-color);
        color: var(--main-text-color);

        display: flex;
        align-items: center;

        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 13px;
        font-weight: 600;

        &:hover {
            color: var(--hover-text-color);
            // background-color: var(--bg3-color);
        }
        > span {
            font-weight: 300;
            color: var(--main-text-opacity-color);
            margin-right: 10px;
        }
        &.active-icon {
            // background-color: var(--accent-color);
        }
        &:not(:last-child) {
            border-bottom: 2px solid var(--bg3-color);
        }
    }
    .submenu-icon-wrapper {
        padding: 3px;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        &:not(:last-child) {
            margin-right: 10px;
        }
        &.active-icon {
            background-color: var(--accent-color);
        }
    }
}
