.window {
    // height: 600px;
    // width: 1200px;
    // margin: 0 auto;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

    color: var(--main-text-color);

    // &.is-full-screen {
    //     height: 100vh;
    //     width: 100vw;
    // }
    &__main {
        flex-grow: 1;
        background-color: var(--bg1-color);
        display: flex;
    }
    &__left-side {
        height: 100%;
        width: 40px;
        background-color: var(--bg1-color);
        padding-top: 100px;
        flex-shrink: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--main-text-color);
        z-index: 2;

        position: relative;
    }

    .logo {
        width: 30px;
        height: 30px;
        // background-color: tomato;
        border-radius: 50%;
        // border: 2px solid red;

        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        svg {
            color: red;
            width: 25px;
            height: 25px;
        }
    }
    .left-side-btn {
        display: block;
        width: 20px;
        height: 20px;
        // border-radius: 50%;
        cursor: pointer;
        // margin-top: 10px;
        background-color: transparent;

        position: absolute;
        top: 55px;
        left: 10px;
        transition: transform 300ms;
        &.active svg {
            transform: rotateY(180deg);
        }

        &::after {
            display: block;
            content: "Expand";
            padding: 10px;
            border-radius: 5px;
            background-color: var(--bg1-color);
            color: var(--hover-text-color);
            font-size: 10px;

            position: absolute;
            top: 50%;
            left: calc(100% + 15px);
            transform: translateY(-50%);
            z-index: 100;
            display: none;
        }
        &::before {
            display: block;
            content: "";
            width: 6px;
            height: 6px;
            background-color: var(--bg1-color);
            color: var(--hover-text-color);
            position: absolute;
            top: 50%;
            left: calc(100% + 12px);
            transform: translateY(-50%) rotate(45deg);
            z-index: 100;
            display: none;
        }
        &.active::after {
            content: "Collapse";
        }
        &:hover::after {
            display: block;
        }
        &:hover::before {
            display: block;
        }
    }

    ul.left-side-btn-panel {
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            border-radius: 50%;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    // working space ---------------------------------------------------------------
    &__working-space {
        height: 100%;
        background-color: var(--bg3-color);
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        transition: margin-left 300ms;
        &.with-sidebar {
            margin-left: calc(
                var(--left-sidebar-default-width) +
                    var(--gap-between-rightside-and-main)
            );
            border-radius: 0 0 var(--border-radius) 0;
        }
    }

    &__header-wrapper {
        height: var(--header-height);
        width: 100%;
        background-color: var(--bg1-color);
        padding-bottom: 4px;
    }
    &__header {
        width: 100%;
        height: 100%;
        // height: 36px;
        background-color: var(--bg2-color);
        // border-bottom: 2px solid #000000;
        border-radius: var(--border-radius) var(--border-radius) 0 0;

        display: flex;
        // align-items: center;
        align-items: stretch;
        justify-content: space-between;

        ul.window__header-list {
            height: 100%;
            display: flex;
            align-items: stretch;
            padding-right: 10px;
            padding-left: 10px;
            & li.window__header-list-item {
                // padding-top: 3px;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: var(--main-text-color);
                cursor: pointer;
                transition: color 300ms, background-color 300ms;
                // padding-left: 10px;
                // padding-right: 10px;
                &:hover {
                    color: var(--hover-text-color);
                }
                &:hover > svg {
                    transition: color 300ms;
                    color: var(--accent-color);
                }
                &.active {
                    // background-color: var(--accent-color);
                }
            }
            & li.window__header-list-item span:first-child {
                width: 20px;
                height: 20px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                // margin-bottom: 3px;
            }
            & li.window__header-list-item span:nth-child(2) {
                font-size: 10px;
            }
        }
    }
    &__body-wrapper {
        width: 100%;
        height: calc(100% - var(--header-height)); // 40px - header height
        display: flex;
        position: relative;
    }
    // data-main-window
    &__body {
        flex-grow: 1;
        // padding-top: 15px;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;

        // padding-left: 150px;
        // padding-right: 150px;
        background-color: var(--bg3-color);
        position: relative;
        transition: padding 300ms;

        &.is-full-screen {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 99;
            pointer-events: none;
            // padding-left: 30px;
            // padding-right: 30px;
        }

        &.with-sidebars {
            padding-right: var(--right-sidebar-default-width);
        }
    }
    &__body-note {
        display: inline-block;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: var(--border-radius);
        color: var(--main-text-color);
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);

        &.is-hidden {
            display: none;
        }

        span {
            color: #ff0000;
            font-weight: 700;
        }
    }

    //  right side ----------------------------------------------------------------
    &__right-side {
        height: 100%;
        width: 40px;
        padding-top: 100px;
        background-color: var(--bg1-color);
        // padding-top: 5px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;
    }
    &__right-sidebar {
        flex-shrink: 0;
        min-width: var(--right-sidebar-default-width); // min-width - ???
        height: 100%;
        background-color: var(--bg2-color);
        padding: 10px;
        border-radius: 0 0 10px 0;
        transition: transform 300ms, opacity 300ms;
        max-width: 100%;

        position: absolute;
        right: 0;
        top: 0;
        resize: both;
        &.is-hidden {
            overflow: hidden;
            opacity: 0;
            transform: translateX(101%);
        }
    }
    .right-side-btn {
        width: 20px;
        height: 20px;
        cursor: pointer;
        background-color: transparent;
        position: absolute;
        top: 55px;
        right: 10px;
        transition: transform 300ms;
        &.active svg {
            transform: rotateY(180deg);
        }

        &::after {
            display: block;
            content: "Expand";
            padding: 10px;
            border-radius: 5px;
            background-color: var(--bg1-color);
            color: var(--hover-text-color);
            font-size: 10px;

            position: absolute;
            top: 50%;
            right: calc(100% + 15px);
            transform: translateY(-50%);
            z-index: 99;
            display: none;
        }
        &::before {
            display: block;
            content: "";
            width: 6px;
            height: 6px;
            background-color: var(--bg1-color);
            color: var(--hover-text-color);
            position: absolute;
            top: 50%;
            right: calc(100% + 12px);
            transform: translateY(-50%) rotate(45deg);
            z-index: 99;
            display: none;
        }
        &.active::after {
            content: "Collapse";
        }
        &:hover::after {
            display: block;
        }
        &:hover::before {
            display: block;
        }
    }
    .right-side-btn-panel {
    }

    .right-sidebar__resizer {
        display: inline-flex;
        background-color: var(--accent-color);
        cursor: col-resize;

        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        // resize: both;

        height: 32px;
        width: 10px;
    }

    .resizer-icon {
        height: 32px;
        width: 10px;
    }

    // footer ----------------------------------------------------
    &__footer {
        height: var(--footer-height);
        background-color: var(--bg1-color);
    }
    //  ==================  BUTTONS and ICONS ====================
    .header-icon-wrapper {
        width: 100%;
        height: 100%;
        padding-right: 10px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &:hover {
            // background-color: var(--accent-color);
        }
    }
    .menu-icon,
    .header-icon,
    .header-right-icon {
        color: var(--main-text-color);
        fill: currentColor;
        transition: color 300ms;
        &:hover {
            color: var(--accent-color);
        }
    }
    .header-icon {
        width: 12px;
        height: 12px;
    }
    .header-right-icon {
        width: 20px;
        height: 20px;
    }
    .menu-icon,
    .sidebar-icon,
    .split-icon {
        width: 20px;
        height: 20px;
    }
    .sidebar-icon,
    .split-icon {
        color: var(--main-text-color);
        fill: currentColor;
        transition: color 300ms;
        &:hover {
            color: var(--hover-text-color);
        }
    }

    .full-screen-btn {
        .minimize-icon {
            display: none;
        }
        &.activeFs .minimize-icon {
            display: block;
        }
        &.activeFs .full-screen-icon {
            display: none;
        }
    }
}
